<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.HRSystem.Mapper.MeritsMapper">
    <resultMap id="meritsMap" type="com.example.HRSystem.entity.Merits">
        <id column="id" property="id" />
        <result column="user_id" property="userId"/>
        <result column="mdate" property="mdate"/>
        <result column="name" property="name"/>
        <result column="jnum" property="jnum"/>
        <result column="dept_id" property="deptId"/>
        <result column="att" property="att"/>
        <result column="manner" property="manner"/>
        <result column="abi" property="abi"/>
        <result column="score" property="score"/>
        <result column="assess" property="assess"/>
        <result column="dept_name" property="deptName"/>

    </resultMap>
<!--    插入绩效信息-->
    <insert id="insertMerits">
        insert into h_merits(user_id,name,jnum,dept_id,att,manner,abi,mdate,dept_name)
        values(#{userId},#{name},#{jnum},#{deptId},#{att},#{manner},#{abi},#{mdate},#{deptName});
    </insert>
    <!--    基于用户id和部门id查询绩效记录-->
    <select id="getByUid" resultMap="meritsMap">
        select * from h_merits where user_id=#{uid};
    </select>
    <!--    基于部门id查询部门信息-->
    <select id="deptByid" resultType="com.example.HRSystem.entity.Dept">
        select  t2.name
        from
        h_merits t1
        join
        h_dept t2
        on t2.id=t1.id
        where
        t1.dept_id=#{Did};
    </select>
    <!--    修改绩效-->
    <update id="UpdateById">
        update h_merits set att=#{att},manner=#{manner},abi=#{abi},mdate=#{mdate}
        where id=#{id};
    </update>
    <!--    管理员查询绩效信息-->
    <select id="getMeritsByUserId" resultMap="meritsMap">
        select * from h_merits;
    </select>
<!--    用户id查询绩效信息-->
    <select id="getMeritsUserId" resultMap="meritsMap">
        select * from h_merits where user_id=#{uid};
    </select>
</mapper>