<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.HRSystem.Mapper.UserMapper">
    <resultMap id="userMap" type="com.example.HRSystem.entity.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="salt" property="salt"/>
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="gender" property="gender" />
        <result column="avatar" property="avatar" />
        <result column="created_user" property="createdUser" />
        <result column="created_time" property="createdTime" />
        <result column="modified_user" property="modifiedUser" />
        <result column="modified_time" property="modifiedTime" />
        <result column="is_delete" property="isDelete"/>
        <result column="role" property="role"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="nation" property="nation"/>
        <result column="card" property="card"/>
        <result column="education" property="education"/>
        <result column="jnum" property="jnum"/>
        <result column="dept_id" property="deptId"/>
        <result column="dept_name" property="deptName"/>
    </resultMap>
    <insert id="insertUser">
        insert into h_user(username,name,nation,card,education,jnum,dept_id,dept_name,age,password,salt,is_delete,phone,email,gender,avatar,created_user,created_time,modified_user,modified_time,role)
        values(#{username},#{name},#{nation},#{card},#{education},null,#{deptId},#{deptName},#{age},#{password},#{salt},#{isDelete},#{phone},#{email},#{gender},#{avatar},#{createdUser},now(),#{modifiedUser},now(),0);
    </insert>
    <!--    基于用户名查询用户信息-->
    <select id="getByName" resultMap="userMap">
        select * from h_user where username=#{username};
    </select>
    <!--    登录时修改个人信息-->
    <update id="updataUserInfo">
        update h_user set name=#{name},nation=#{nation},card=#{card},education=#{education},age=#{age},phone=#{phone},email=#{email},gender=#{gender},modified_user=#{modifiedUser},modified_time=#{modifiedTime}
        where username=#{username};
    </update>
<!--    管理员查看所有用户信息-->
    <select id="getByAdmin" resultMap="userMap">
        select * from h_user;
    </select>
</mapper>