/*登录页的半透明层的样式*/
body{
	background-image: url("../images/water.png");
	background-size:100% 100%;
	background-repeat: no-repeat;
	background-attachment:fixed;
}
.loginDiv {
	height: 280px;
	width: 500px;
	background-color: rgba(255, 255, 255, 0);
	float: right;
	margin: 200px 250px 0 0;
	border-radius: 10px;
	color: #666666;
	padding: 8px;
}
